// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

ul {
  padding: 0;
  margin: 0;
}

.theme, .transition {
  transition: all;
  transition-duration: 500ms;
}

.dark {
  background: #111;
  color: #ddd;
}
.light {
  background: #ddd;
  color: #111;
}
